inscription.html

{% extends "base.html" %}

{% load static %}

{% block contenu %}
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Resultat</h6>
            <h1 class="mb-5">Tableau des resultats</h1>
            <div>
            	<p class="alert-danger"> Pas de resultat pour l'instant!!!!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}